/* line 9, ../scss/styles.scss */
#start-page {
  width: 300px;
  margin: 0 auto;
  position: relative;
  display: block;
  font-family: Ariel;
}
/* line 17, ../scss/styles.scss */
#start-page h2 {
  font-size: 52px;
  text-align: center;
}
/* line 22, ../scss/styles.scss */
#start-page p {
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin: 12px 0px;
}
/* line 30, ../scss/styles.scss */
#start-page #begin {
  display: block;
  background-color: #6c7c7c;
  border-radius: 6px;
  color: #fff;
  font-size: 33px;
  text-align: center;
  padding: 10px 0px;
  margin-top: 60px;
  cursor: pointer;
}
/* line 43, ../scss/styles.scss */
#start-page #begin:hover {
  background-color: #768d87;
}

/* line 49, ../scss/styles.scss */
#image-grid {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 378px;
}
/* line 56, ../scss/styles.scss */
#image-grid img {
  margin: 2px;
}
/* line 60, ../scss/styles.scss */
#image-grid img.buttons {
  border-radius: 6px;
  font-family: Arial;
  cursor: pointer;
  color: #fff;
}
/* line 67, ../scss/styles.scss */
#image-grid img.buttons.green {
  box-shadow: #a4e271 0px 1px 0px 0px inset;
  border: 1px solid #74b807;
  text-shadow: #528009 0px 1px 0px;
  background: linear-gradient(#8ac403 5%, #77a809 100%) #8ac403;
}
/* line 74, ../scss/styles.scss */
#image-grid img.buttons.green:hover {
  background: linear-gradient(#77a809 5%, #8ac403 100%) #77a809;
}
/* line 79, ../scss/styles.scss */
#image-grid img.buttons.blue {
  box-shadow: #f0f7fa 0px 1px 0px 0px;
  border: 1px solid #057fd0;
  text-shadow: #5b6178 0px -1px 0px;
  background: linear-gradient(#33bdef 5%, #019ad2 100%) #33bdef;
}
/* line 86, ../scss/styles.scss */
#image-grid img.buttons.blue:hover {
  background: linear-gradient(#019ad2 5%, #33bdef 100%) #019ad2;
}
/* line 91, ../scss/styles.scss */
#image-grid img.buttons.orange {
  box-shadow: #fff6af 0px 1px 0px 0px;
  border: 1px solid #ffaa22;
  text-shadow: #ffee66 0px 1px 0px;
  background: linear-gradient(#ffed64 5%, #ffab23 100%) #ffed64;
}
/* line 98, ../scss/styles.scss */
#image-grid img.buttons.orange:hover {
  background: linear-gradient(#ffab23 5%, #ffed64 100%) #ffab23;
}
/* line 103, ../scss/styles.scss */
#image-grid img.buttons.purple {
  box-shadow: #e184f3 0px 1px 0px 0px inset;
  border: 1px solid #a511c0;
  text-shadow: #9b14b3 0px 1px 0px;
  background: linear-gradient(#c223de 5%, #a20dbd 100%) #c223de;
}
/* line 110, ../scss/styles.scss */
#image-grid img.buttons.purple:hover {
  background: linear-gradient(#a20dbd 5%, #c223de 100%) #a20dbd;
}
/* line 115, ../scss/styles.scss */
#image-grid img.buttons.red {
  box-shadow: #f29c93 0px 1px 0px 0px inset;
  border: 1px solid #d83526;
  text-shadow: #b23e35 0px 1px 0px;
  background: linear-gradient(#fe1900 5%, #ce0100 100%) #fe1900;
}
/* line 122, ../scss/styles.scss */
#image-grid img.buttons.red:hover {
  background: linear-gradient(#ce0100 5%, #fe1900 100%) #ce0100;
}
/* line 127, ../scss/styles.scss */
#image-grid img.buttons.grey {
  box-shadow: #91b8b3 0px 1px 3px 0px inset;
  border: 1px solid #566963;
  text-shadow: #2b665e 0px -1px 0px;
  background: linear-gradient(#768d87 5%, #6c7c7c 100%) #768d87;
}
/* line 134, ../scss/styles.scss */
#image-grid img.buttons.grey:hover {
  background: linear-gradient(#6c7c7c 5%, #768d87 100%) #6c7c7c;
}
/* line 139, ../scss/styles.scss */
#image-grid img.buttons.brown {
  box-shadow: #a6827e 0px 1px 0px 0px inset;
  border: 1px solid #54381e;
  text-shadow: #4d3534 0px 1px 0px;
  background: linear-gradient(#7d5d3b 5%, #634b30 100%) #7d5d3b;
}
/* line 146, ../scss/styles.scss */
#image-grid img.buttons.brown:hover {
  background: linear-gradient(#634b30 5%, #7d5d3b 100%) #634b30;
}
