<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="SequenceGame">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/styles.css" media="screen" rel="stylesheet">
	<title>Maksim Kanev's Sequence Game</title>
</head>

<body ng-controller="GameController" data-ng-init="init()">

<div id="start-page" ng-hide="game_set">
	<h2>Level {{level}}</h2>

	<p>{{sequence_text}}</p>
	<img ng-src="./images/{{sequence_type}}.png" alt="The sequence to follow" />

	<h2 id="begin" ng-click="begin()">Begin</h2>
</div>

<div id="sidebar" ng-show="game_set">
	<div id="sequence-image" ng-show="current_image">
		<h2>{{sequence_text}}</h2>
		<img ng-src="./images/{{current_image[0]}}.png" alt="The current sequence" class="buttons" />
	</div>

	<h2 id="mistakes"></h2>
	<h2 id="timer"></h2>

	<h2 id="restart" class="buttons grey" ng-click="playSequence()">Restart</h2>
	<h2 id="next" class="buttons grey" ng-click="next()" ng-show="game_finished">Next</h2>
</div>

<div id="image-grid" ng-show="game_set">
	<img ng-repeat="image in grid_images track by $index" ng-src="./images/{{image[0]}}.png" alt="One of the images" ng-class='["buttons", "{{image[0]}}", "{{image[1]}}"]' ng-click="compare(image[0], image[1])" />

	<audio id="audio" src="./sounds/correct.mp3"></audio>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="app/app.js"></script>
<script type="text/javascript" src="app/controllers/game-controller.js"></script>
<script type="text/javascript" src="app/services/sequence-service.js"></script>
</body>
</html>